body {
  font-family: 'Georgia', sans-serif;
}

.selected {
  display: block;
}

.album-view {
  display: block;
}

.album-view h2 {
  text-align: center;
  margin: 0 auto;
  line-height: 8rem;
  font-size: 2rem;
  background: darkgrey;
  border: 2px solid black;
  display: block;
  color: blue;
}

.album-nav {
  background-color: white;
  width: 180px;
  float: left;
}

.selected {
  padding: 2rem 0;
  color: black;
}

.album-nav ul {
  padding: 1rem;
  margin: 0 auto;
}

.album-nav li {
  list-style-type: none;
  padding: 1rem 2rem;
  background-color: darkgrey;
  border: 2px solid black;
  margin: 1rem auto;
  display: block;
  text-align: center;
}

.album-nav a {
  text-decoration: none;
  color: blue;
}

.album-contents {
}

.album-contents ul {
  margin: 0;
}

.album-contents li{
  display: inline-block;
  list-style-type: none;
  padding: 1vw;
  margin: 2vw;
  border: 1px solid black;
  text-align: center;
  vertical-align: top;
}

.album-contents a {
  text-decoration: none;

  color: blue;
}

.album-contents img {
  margin: 1vw;
  max-width: 12rem;
  vertical-align: top;
}

.home-view h1{
  text-align: center;
  margin: 0 auto;
  line-height: 8rem;
  background-color: darkgrey;
  font-size: 2rem;
  color: blue;
  border: 2px solid black;
}

.home-view ul {
  margin: 0 auto;
  text-align: center;
  padding: 0;

}

.home-view li {
  list-style-type: none;
  display: inline-block;
  padding: 3vw;
  border: 1px solid black;
  text-align: center;
  font-size: 18px;
  margin: 1vw;
  vertical-align: center;
}

img {
  width: 24vw;
  height: 18vw;
  display: block;
  padding: 1vw 0;
}

.home-view a {
  text-decoration: none;
  color: blue;
}
.photo-view {
  display: block;
}

.photo-view h2{
  text-align: center;
  margin: 0 auto;
  line-height: 8rem;
  font-size: 2rem;
  color: blue;
}

.photo-view a{
  background-color: blue;
  color: black;
  padding: 1rem;
  margin: 2rem 1rem;
  border-radius: 5px;
  text-decoration: none;
}

.photo-view img {
  width: 600px;
  height: 450px;
  display: block;
  text-align: center;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0;
  border: 1px solid white;
}
